body {
  margin-top : 120px;
  background-color: rgba(236, 232, 232, 0.781);
}
.container {
  margin-bottom: 100px;
}

.card {
  margin-bottom: 40px;
  position: relative;
}

.card img {
  display: inline-block;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 900;
   
}
.navbar-brand:hover {
   color: brown;
}
.login {
  display: inline-block;
  margin-top: 5px;
  font-weight: 600;
}

.bg-light.orange {
  background: black !important;
}

/* cart */
.cart {
  margin: 0 35px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
table {
  width: 100%;  
}
.cell {
 text-align: center;
}
.cart div {
  margin : 0 10px;
}
.cart p {
  margin-top: 5px;
}
.cart li {
  flex-grow: 1;
  list-style-type: none;
}
.cart table th, .cart table tr {
  height: 80px;
}
.order-summary .list-group-item {
  background: #eee;
}

.qty {
  width: 40px;
  padding: 5px 0;
}
.white, .white:hover {
  color: white;
  text-decoration: none;
}
/* sidebar */
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
/* shopping cart */
.shopping-cart table {
  width: 100%;
  margin-top: 50px;
}
.shopping-cart {
  height: 100vh;
  width: 20%;
  position: fixed;
  right: -20% ;
  top: 60px;
  background: #eee;
  transition: all 350ms ease-in-out;
}
.shopping-cart ul {
  display: flex;
  padding: 0 10px 0 25px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.shopping-cart table {
  text-align: center;
  padding: 0 20px;
}
.shopping-cart li {
  width: 100%;
}
.remove {
  border-radius: 50%;
}
.flex  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  list-style-type: none;
}
.flex li {
  flex-grow: 1;
  padding: 0;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.checkout {
  margin-top: 5px;
}
.coupon {
  color: green;
}
.menu-right {
  position: relative;
}
.badge {
  position: absolute;
  font-size: 14px;
  right: -10px;
}
/* utils */
.active {
  font-weight: 800;
  color:#213b3b;
}
.focus {
  cursor: pointer;
}
.grey {
  color: #333;
  position: relative;
}
.lightGray {
  color: rgb(152, 151, 151);
}
.crimson {
  color: white !important;
}
.bg-crimson {
  background-color: crimson!important;
}
.red {
  border: 1px solid crimson;
}
@media screen and (max-width: 640px) {
  body {
      margin-top : 360px;
  }
  .cart p {
      margin-top: 15px;
  } 
  .shopping-cart {
      height: 300px;
      width: 100%;
      position: fixed;
      right: 0;
      top: 60px;
  }  
}
